body {
	/*background-color: rgb(14,14,16);*/
	background-image: linear-gradient(rgb(34,34,36),rgb(14,14,16));

	padding-bottom: 250px;
}

p {
	color: rgb(240,240,240);
	font-family: Impact, Charcoal, sans-serif;
	border-left-style: solid;
	border-color: Tomato;
	margin-left: 75px;
	margin-top: 75px;
	padding-left: 18px;
	font-size: 25px;
	width: 550px;
	background-image: linear-gradient(to right, rgba(255,99,71,0.1), rgba(0,0,0,0));
}

p a:link, p a:visited {
	text-decoration: none;
	color: rgb(240,240,240);
}

p a:hover, p a:active {
	text-decoration: none;
	color: Tomato;
}

ul {
	list-style-type: none;
	overflow: hidden;
	/*background-color: rgb(20,20,22);*/
	border-radius: 15px;
	background-image: linear-gradient(to right, rgb(20,20,22), rgb(30,30,32));
}

li {
	float: left;
	padding: 8px;
}

li a {
	display: block;
	padding: 8px;
	font-family: Impact, Charcoal, sans-serif;
	color: rgb(215,215,215);
	font-size: 18px;
	transition: color 0.2s, font-size 0.25s;
	text-shadow: 0px 0px 4px black;
}

li a:hover {
	color: Tomato;
	font-size: 22px;
}

li a:link {
	text-decoration: none;
}

h1 {
	color: rgb(255,255,255);
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
}
h2 {
	text-decoration: underline;
	color: rgb(255,255,255);
	font-family: Impact, Charcoal, sans-serif;
	margin-left: 75px;
	margin-top: 75px;
}

hr {
	margin: 75px;
}

img {
	padding-left: 85px;
}


.current_page {	
	color: Tomato;
}

* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.centered {
	text-align: center;
	padding: 25px;
	margin: 25px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

.grid-item {
  margin: auto;
  padding: 50px;
}

.pfp {
	display: block;
	position: relative;
	left: 40.6%;
}