body {background-color: rgb(14,14,16);}

p {
	color: rgb(240,240,240);
	font-family: Impact, Charcoal, sans-serif;
	border-left-style: solid;
	border-color: Tomato;
	margin-left: 75px;
	margin-top: 125px;
	padding-left: 18px;

}

ul {
	list-style-type: none;
	overflow: hidden;
	background-color: rgb(30,30,30);
}

li {
	float: left;
	padding: 8px;
}

li a {
	display: block;
	padding: 8px;
	font-family: Impact, Charcoal, sans-serif;
	color: rgb(215,215,215);
}

li a:hover {
	color: Tomato;
}

li a:link {
	text-decoration: none;
}

h1 {
	color: rgb(255,255,255);
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
}
h2 {
	text-decoration: underline;
	color: rgb(255,255,255);
	font-family: Impact, Charcoal, sans-serif;
	margin-left: 75px;
	margin-top: 75px;
}

video {
	padding: 25px;
	align-items: left;
}

hr {
	margin: 75px;
}